@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* @plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
} */

:root {
    --color-default: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-default: #b41de2;
    }

}

:root,[data-theme='cupcake'] {

    --color-base-100: 98% 0.02 240;
    --color-base-200: 95% 0.03 240;
    --color-base-300: 92% 0.04 240;
    --color-base-content: 20% 0.05 240;
    --color-primary: 55% 0.3 240;
    --color-primary-content: 98% 0.01 240;
    --color-secondary: 70% 0.25 200;
    --color-secondary-content: 98% 0.01 200;
    --color-accent: 65% 0.25 160;
    --color-accent-content: 98% 0.01 160;
    --color-neutral: 50% 0.05 240;
    --color-neutral-content: 98% 0.01 240;
    --color-info: 70% 0.2 220;
    --color-info-content: 98% 0.01 220;
    --color-success: 65% 0.25 140;
    --color-success-content: 98% 0.01 140;
    --color-warning: 80% 0.25 80;
    --color-warning-content: 20% 0.05 80;
    --color-error: 65% 0.3 30;
    --color-error-content: 98% 0.01 30;

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}

[data-theme='black'] {
    --color-default: #000000;
}

[data-theme='🌸'] {
    --color-default: #ffabc8;
}

[data-theme='🐬'] {
    --color-default: #7ec6ff;
}

[data-theme='🐤'] {
    --color-default: #ffd65a;
}

[data-theme='cupcake'] {

    --color-base-100: 98% 0.02 240;
    --color-base-200: 95% 0.03 240;
    --color-base-300: 92% 0.04 240;
    --color-base-content: 20% 0.05 240;
    --color-primary: 55% 0.3 240;
    --color-primary-content: 98% 0.01 240;
    --color-secondary: 70% 0.25 200;
    --color-secondary-content: 98% 0.01 200;
    --color-accent: 65% 0.25 160;
    --color-accent-content: 98% 0.01 160;
    --color-neutral: 50% 0.05 240;
    --color-neutral-content: 98% 0.01 240;
    --color-info: 70% 0.2 220;
    --color-info-content: 98% 0.01 220;
    --color-success: 65% 0.25 140;
    --color-success-content: 98% 0.01 140;
    --color-warning: 80% 0.25 80;
    --color-warning-content: 20% 0.05 80;
    --color-error: 65% 0.3 30;
    --color-error-content: 98% 0.01 30;

    /* border radius */
    --radius-selector: 1rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;

    /* base sizes */
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}

[data-theme=val] {
    --p: 353 73.8% 67.1%;
    --pf: 353 73.6% 56.9%;
    --pc: 0 0% 100%;
    --s: 254 86.4% 76.9%;
    --sf: 254 86.9% 67.1%;
    --a: 181 55.6% 70%;
    --af: 181 54.9% 60%;
    --n: 336 42.9% 48%;
    --nf: 340 40.2% 38%;
    --nc: 318 46.4% 89%;
    --b1: 318 46.4% 89%;
    --b2: 315 58.9% 79%;
    --b3: 316 62.3% 72.9%;
    --bc: 344 38.5% 28%;
    --in: 207 89.8% 53.9%;
    --su: 174 100% 29%;
    --wa: 36 100% 50%;
    --er: 14 100% 57.1%;
    --rounded-btn: 1.9rem
}


body {
    background-color: var(--color-default);
}
